node_modules
# dist - need this for deployment
.git
.gitignore
.env
.env.*
!.env.production
README.md
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.nyc_output
.vscode
.idea
*.swp
*.swo
tsconfig.tsbuildinfo